{% extends '@TeiEdition/Default/base.html.twig' %}

{% block title %}{{ 'Places'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Places'|trans }}</h1>

    <a class="btn btn-sm btn-light" href="{{ path('app_admin_place_new') }}">
        {{ 'Add Place'|trans }}
    </a>

    {% if results is not empty %}
        <ul class="list-unstyled mt-2">
        {% for place in results %}
            <li>
                <a href="{{ path('app_admin_place_show', {'id': place.id}) }}">
                    {{ place.nameLocalized(app.request.locale) }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info">{{ 'No places could be found'|trans }}</div>
    {% endif %}
{% endblock %}
