{% extends '@TeiEdition/Default/base.html.twig' %}

{% block title %}{{ organization.name }}{% endblock %}

{% block body %}
    <h1>
        {{ organization.name }}
        <a class="btn btn-sm btn-light" href="{{ path('app_admin_organization_edit', {'id': organization.id}) }}">
            {{ 'Edit'|trans }}
        </a>
        {{ include('Admin/Organization/_delete_form.html.twig') }}
    </h1>

    <dl>
    {% if organization.foundingDate is not empty %}
        <dt>{{ 'Founding Date'|trans }}:</dt>
        <dd>
            {{ organization.foundingDate|dateincomplete -}}
        </dd>
    {% endif %}
    {% if organization.dissolutionDate is not empty %}
        <dt>{{ 'Dissolution Date'|trans }}:</dt>
        <dd>
            {{ organization.dissolutionDate|dateincomplete -}}
        </dd>
    {% endif %}

    {% if organization.url is not empty %}
        <dt>{{ 'URL'|trans }}:</dt>
        <dd>
            <a href="{{ organization.url }}" target="_blank">{{ organization.url|prettifyurl }}</a>
        </dd>
    {% endif %}

    {% if organization.gnd is not empty %}
        <dt>{{ 'GND'|trans }}:</dt>
        <dd>
            <a href="https://d-nb.info/gnd/{{ organization.gnd }}" target="_blank">{{ organization.gnd }}</a>
        </dd>
    {% endif %}

    {% if organization.description is defined and organization.description[app.request.locale] is defined %}
    <p>{{ organization.description[app.request.locale]|converturls|nl2br  }}</p>
    {% endif %}

    </dl>

    <div class="mt-4">
        <a class="btn btn-sm btn-light" href="{{ path('app_admin_organization_index') }}">
            {{ 'Back to overview'|trans }}
        </a>
    </div>
{% endblock %}
